@font-face {
  font-family: 'iconic';
  src:url('../fonts/iconic.eot');
}

@font-face {
    font-family: 'iconic';
    src:url('../fonts/iconic.eot');
    src:url('../fonts/iconic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconic.woff') format('woff'),
        url('../fonts/iconic.ttf') format('truetype'),
        url('../fonts/iconic.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.eot');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  font-style: bold;
  font-weight: 700;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.eot');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.eot');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.eot');
  src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
  font-style: light;
  font-weight: 300;
}


@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/gotham-black.eot');
    src: url('../fonts/gotham-black.eot') format('embedded-opentype'),
        url('../fonts/gotham-black.woff2') format('woff2'),
        url('../fonts/gotham-black.woff') format('woff'),
        url('../fonts/gotham-black.ttf') format('truetype'),
        url('../fonts/gotham-black.svg#GothamBlackRegular') format('svg');
}

body {
  background-image: url(../images/background.png);
  background-repeat: repeat-x;
  background-color: rgb(236, 240, 241);
  font-family: 'Gotham Book', 'Gotham Medium', 'Gotham Bold';
}

.content {
  position: relative;
  margin-top: 30px;
}

.nav--links {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero {
  position: relative;
  text-align: center;
  margin: auto;
  padding-top: 65px;
  padding-bottom: 55px;
  max-width: 600px;
}

.hero--name {
  font-size: 56px;
  font-weight: 300;
  line-height: 80px;
  margin-bottom: 60px;
  color: #337ab7;
}

.hero--name img {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  width: 95px;
  margin-right: 10px;
  margin-top: -20px;
  margin-left: -105px;
}

.hero h2 {
  font-size: 38px;
  margin-bottom: 25px;
  font-weight: 200;
  line-height: 48px;
  color: #617d99;
}

.hero p {
  color: #7493b2;
  font-size: 19px;
  line-height: 26px;
  width: 85%;
  margin: 0px auto 15px auto;
  font-weight: 300;
  padding: 0px;
}

.hero .cta {
  font-weight: bold;
  text-shadow: none;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding: 12px;
  padding-top: 14px;
  letter-spacing: .75px;
}

.value-prop p {
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0.5px;
}

.feature {
  padding: 40px;
  color: #617d99;
}

.feature h2 {
  margin-bottom: 25px;
}

.feature p {
  font-weight: 300;
}

.btn-primary {
  background-color: rgba(37, 140, 209, 0.95);
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.btn-primary:hover {
  background-color: rgba(47, 150, 219, 0.95);
  border: 1px solid transparent;
}

.well h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(37,140,209,1);
}

.dark {
  background-color: #258CD1;
  margin-top: 25px;
  color: #fbfcfc;
  padding: 50px 0px;
}

.dark h3, .dark p {
  text-align: center;
}

.dark .input-group-addon {
  background-color: #5cb85c;
  border-color:#5cb85c;
  color: #FFF;
}

.dark form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.dark p a {
  color: #FFF;
  text-decoration: underline;
}
.dark p a:hover {
  color: #ebecec;
}


.dark .input-group-addon:hover {
  background-color: #6cc86c;
}

.icon-bank .row .col-xs-4 {
  margin-bottom: 15px;
}

a[name] {
  display: block;
  position: relative;
  top: -25px;
}

blockquote {
  border-left: 3px solid #617d99;
}

blockquote small:before {
  content: ""
}

blockquote small {
  font-size: 12px;
}

.value-prop {
  height: 310px;
}

@media (max-width: 768px) {
  .btn.cta {
    width: 80%;
  }
  .value-prop {
    height: auto;
  }
  .hero--name {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .hero--name img {
    height: auto;
    margin-right: 0px;
    width: 60px;
    margin-left: -20px;
  }
  .nav--links {
    right: 20px;
    top: -10px;
  }
}



